<% @joined.each do |user|%>
    <% @myUser = User.find(user.user_id)%>
    <p><%= @myUser.email %></p>    
<% end %>
<%= link_to "Back to order", "/item/index?id=#{params[:order_id]}",class:"btn btn-primary" %>