<% @invited.each do |user|%>
    <% @myUser = User.find(user.user_id)%>
    <p><%= @myUser.email %></p>
    <%= link_to "Remove", "/item/deleteInvited?order_id=#{params[:order_id]}&&user_id=#{user.user_id}",class:"btn btn-primary" %>
<% end %>